<div id="banner">
  <h1>WATCH LIST</h1>
  <a href="#"><%= link_to 'new list', lists_new_path %></a>
</div>
<% @lists.each do |list| %>
<div class="card">
  <a href="#"><%= link_to list.name, list_path(list) %></a>
  <h1><%= link_to list.name.upcase, list_path(list) %></h1>
</div>
<% end %>
<br>
