
<h1><%= @list.name %></h1>

<div class='card' style="width: 18rem;">
  <% if @list.movies %>
    <% @list.movies.each do |movie| %>
      <div class='card-img-top'><%= image_tag "#{movie.poster_url}", alt: "#{movie.title}", width: 200 %></div>
      <%= movie.title%>
    <% end %>
  <% else %>
    <p>No movies added yet</p>
  <% end %>
</div>

<button><%= link_to 'Add new movie to list', new_bookmark_path %></button>
